/*----------------HTML-------------------*/

body {
  background-color: #5D5D5D;
  margin: 0px;
}

/*---------------Header------------------*/

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0px;
  width: 100%;
}

h1 {
  margin: 0px;
  padding: 17px;
}

/*------------------Main-----------------*/

figure {
  border: solid;
  border-radius: 50px;
  margin: 10px;
  padding: 7px;
  width: 14%;
}

img.calendar {
  height: 20px;
  width: 20px;
}

h2 {
  margin: 0px;
  padding: 8px;
}
/*----------Widget Container-----------*/
h3 {
  margin: 5px 0px 5px 0px;
  text-align: center;
}

h4, p {
  margin: 10px 2px, 10px, 2px;
  text-align: center;
}

section.widgetContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

nav.dashTitle {
  /* background-color: white; */
  background-image: linear-gradient(to left, rgba(247, 250, 250, 0), rgb(250, 249, 249));
  height: 100%;
  margin: auto;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.red .circle {
  stroke: #e53c3c;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

article.widget {
  background-color: white;
  height: 260px;
  margin: 10px;
  padding: 10px;
  width: 240px;
  border-radius: 5px;
}

canvas {
  margin: auto;
}

