* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #243b6b;
}
header {
    border-bottom: 2px ;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(103,128,159,1);
}
#winner-icon {
    width: 8%;
    margin-left: 25px;
    margin-right: 50px;
}

.user-name,
.exclamation-point{
    color:#60D4C8;
}

#user-icon {
    width:55%;
    margin-top: 15em;

}

#hydration-icon {
    margin-top:15em;
    width: 30%;
}

#activity-icon {
    margin-top:14em;
    width: 70%;
}

#sleep-icon {
    margin-top:14em;
    width:70%;
}


.greet-user {
    font-size: 2em;
}

.page-heading {
    margin-right: 2%;
    font-size: 4em;
}

.img-greeting {
    display: flex;
    height: 100px;
}

#user-vs-avg-steps{
    margin-left:25px;
}

#hydration-icon {
    width: 55%;
    margin-top: 15em;
}

.whole-cards-container {
    display:flex;
    height: 100vh;
    margin: 0;
}

.container-1,
.container-2,
.container-3,
.container-4 {
    display: flex;
    width: 25%;
    height: 100vh;
    perspective: 600px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    width: 100%; 
    height: 100%; 
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-face {
    display: flex;
    position: absolute;
    height: 100%;
    width:100%;
    backface-visibility: hidden;
    text-align:center;
    color:white;
    justify-content: center;
}

.card-front-1
{
  background: #54e8d2;
  display:block;
}
.card-front-2 {
  background: #54d7e8;
  display:block;
}

.card-front-3 {
  background:#54b7e8;
  display:block;
}

.card-front-4 {
  background: #5499e8;
  display:block;
}

.card-back-1 {
    background: #5476c7;
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.card-back-2 {
    background: #5461c7;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#daily-water {
    margin-bottom: 65px;
}

.card-back-3 {
  display: block;
  background: #5f54c7;
  transform: rotateY( 180deg );
  display:block;
  margin:0;
  padding:6px;
  padding-top:15px;
}

.scroll-box-1 { 
  background-color: black;
  display: block;
  width: 320px;
  height: 340px;
  padding: 1em;
  overflow-x: auto;
  text-align: center;
  opacity:0.6;
  margin-top: 10px;
  margin-left: 14px;
} 

.scroll-box-2 { 
  background-color: black;
  display: block;
  width: 320px;
  height: 420px;
  padding: 1em;
  overflow-x: auto;
  text-align: center;
  opacity: 0.6;
  margin-top: 10px;
  margin-left: 14px;
} 

.scroll-box-3 {
  background-color: black;
  display: block;
  width: 320px;
  height: 320px;
  padding: 1em;
  overflow-x: auto;
  text-align: center;
  opacity:0.6;
  margin-left: 20px;
  margin-top:20px;
  padding-top:20px;

}

.scroll-box-4 {
  background-color: black;
  display: block;
  width: 320px;
  height: 426px;
  padding: 1em;
  overflow-x: auto;
  text-align: center;
  opacity: 0.6;
  margin-top: 5px;
  margin-left: 20px;
}

.card-back-4 {

  display: block;
  background: #7e54c7;
  padding-top:5px;
  transform: rotateY( 180deg )
}

.card-1.is-flipped,
.card-2.is-flipped,
.card-3.is-flipped,
.card-4.is-flipped{
  transform: rotateY(180deg);
}

h2 {
    text-align: center;
    padding: 7px;
    font-size: 2em;
    margin-top: 15px;
    color:black;
}*/