body, html {
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.welcome-banner {
  width: 100vw;
  height: 5vh;
  background-color: #78C1E7;
  font-size: larger;
  display: flex;
  align-items: center;
}

.data-display {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: #191923;
}

.friends-profile {
  background-color: #78C1E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

.fit-data-section {
  align-items: center;
  background-color: #FBFEF9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 25vw;
}

.fit-data {
  font-size: 16px;
  margin-top: 14px;
  width: 22vw;
  text-align: center;
}

.highlight {
  font-size: 20px;
  text-align: center;
}

.walking-icon {
  height: 20vh;
}

.fit-data-header {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
/* div for hydration doughnut */
.day-hydro {
  height: 27vh;
  display: flex;
  align-items: center;
  border: 2px black;
}

.hydation-chart {
  align-content: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.week-sleep {
  height: 27vh;
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  border: 0px;
  width: 62px;
  height: 62px;
  margin-bottom: -30%;
  margin-top: -30px;
  font-size: 26px;
}

.user-avatar:hover {
  outline: #FBA03F;
  outline-style: solid;
  outline-offset: -1px;
  outline-width: 5px;
  cursor: pointer;
}

.single-friend {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 14vw;
  font-size: 14px;
}

.friend-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 8px;
  border: 0px;
  height: 40px;
  width: 40px;
  font-size: small;
}

.user-tab {
  height: 70vh;
  width: 15vw;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #78C1E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 14vw;
  font-size: 12px;
}

.user-name {
  margin-top: 35%;
  padding-bottom: 5%;
  font-size: 16px;
}
.user-name:hover {
  color: #BF1363;
  cursor: pointer;
}

.hidden {
  display: none;
}