* {
  border: 1px solid thistle;
  background-color: #202124;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fefefe;
}


/* 🎨 COLOR PALETTE
>>> Accent Colors <<<
👗 Minty green: #5dfeca;
🍐 Pear green: #cef9ad;
🍉 Melon: #f4737e;
🌚 Dark gray: #202124;
🐰 Light gray: #c2c8da;
>>> Category Colors <<<
💦 Hydration: #6791e7;
🎯 Activity: #b100ae;
😴 Sleep: #1d0047;
>>> Text Colors <<<
💡 Light color: #fefefe;
🕯 Dark color: #12002e;
*/
