* {
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Maven Pro', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'header header'
  'main main'
  'hydration hydration'
  'sleep sleep'
  'activity activity'
  'trends trends';
}

header {
  grid-area: header;
}

div {
  display: flex;
}

.header__div {
  align-items: center;
  justify-content: space-between;
}

.header__div--greeting {
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
}

main {
  /* background-color: black; */
  grid-area: main;
}

article {
  display: flex;
}

.header__div {
  height: 10%;
  opacity: 0.77;
  background-color: #C8C8C8;
  opacity: 0.77;
}
.header__div--h1,
.header__div--date {
  margin: 0 10px;
}

.header__div--greeting {
  opacity: 0.77;
  background-color: #C8C8C8;
  opacity: 0.77;
  margin: 10px 0;
}
.header__div--container {
  margin: 0 10px;
}

.main__hydration {
  grid-area: hydration;
   margin: 10px 0;
   display: flex;
   flex-direction: column;
   background-color:#C8C8C8;
   opacity: 0.77;
}

.main__hydration--h3,
.main__sleep--h3,
.main__activity--h3 {
  font: 'Nunito' bold;
  font-size: 35px;
  margin: 0;
  margin-left: 15px;
}

.main__hydration--data--container,
.main__sleep--data--container,
.user-activity,
.allusers-activity {
  width: 30%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.main__hydration--data--container,
.main__sleep--data--container,
.main__trends--data--container {
  width: 50%;
}

.main__activity__article--data {
  display: flex;
}

.user-activity,
.allusers-activity {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main__sleep {
  background-color:#C8C8C8;
  opacity: 0.77;
  grid-area: sleep;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}


.main__activity {
  background-color:#C8C8C8;
  opacity: 0.77;
  grid-area: activity;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main__trends {
  background-color:#C8C8C8;
  opacity: 0.77;
  grid-area: trends;
  margin: 10px 0;
}