* {
  box-sizing: border-box;
}

html {
   /* background: url("./src/images/abstract-design-diagonal-2387532.jpg") no-repeat;  */
  background-color: black;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}


body {
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'header header'
  'main main'
  'hydration hydration'
  'sleep sleep'
  'activity activity'
  'trends trends';
}

header {
  grid-area: header;
}

div {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
}

article {
  display: flex;
}

.header__div {
  align-items: center;
  /* background-color: rgba(200, 200, 200, .7); */
  height: 10%;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
.header__div--h1,
.header__div--date {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  font-weight: 300; 
  color: #ffffff
}

.header__div--h1 {
  font-size: 50px;
}

.section-title{
  font-family: 'Roboto', sans-serif;
  font-size: 50px; 
  font-weight: 600; 
  color: #ffffff
}

.header__div,
.header__div--greeting,
.main__hydration,
.main__sleep,
.main__activity {
  border-radius: 10px;
}

.header__div--greeting {
  /* background-color: rgba(200, 200, 200, .7); */
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}
.header__div--container {
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  width: 15%;
  text-align: center;
}

.top-text {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 300;
}
.bottom-text {
  font-size: 20px;
  margin: 0;
}

.top-nums {
  font-size: 60px;
  font-family: 'Khula', sans-serif;
  margin: 0;
}

.main__hydration {
  grid-area: hydration;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(200, 200, 200, .7); */
}

.main__hydration__article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.main__hydration--h3,
.main__sleep--h3,
.main__activity--h3 {
  font: 'Livvic' 400;
  font-size: 35px;
  margin: 10px 0 10px 10px;
}

.main__sleep--data--container,
.user-activity,
.allusers-activity {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.main__hydration--data--container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.hydration-stats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.main__hydration__div--user--group,
.main__sleep__div--user--group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.left--side--hydration,
.right--side--hydration {
  flex: 1 1 auto;
}

.left--side--hydration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weeklyHydro {
  width: 69%;
}

.user-name {
  font-size: 35px;
  margin: 5px 0 20px 0;
  font-family: 'Nunito', sans-serif;
}

.main__activity__article--data {
  display: flex;
}
.activity-holder,
.allusers-activity {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.user-activity {
  flex: 1 1 auto;
}

.allusers-activity--charts {
  display: flex;
  flex-direction: column;
  width: 66%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.main__sleep {
  /* background-color: rgba(200, 200, 200, .7); */
  grid-area: sleep;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}


.main__activity {
  /* background-color: rgba(200, 200, 200, .7); */
  grid-area: activity;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main__trends {
  /* background-color: rgba(200, 200, 200, .7); */
  grid-area: trends;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main__trends-formater {
  display: flex;
  flex-direction: row;
}

.main__trends__article {
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 33%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}