/* 🪐 General styling rules */
* {
  font-family: 'Yatra One', cursive;
  color: #320031;
  text-align: center;
  text-shadow: 1px 1px 2px #fefefe;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(#5dfeca, #f4737e);
  background-attachment: fixed;
}

.display-area {
  margin: 4vw;
  padding: 1vw;
}

h4,
p {
  margin: 0;
}

canvas {
  width: 100%;
  margin: 2vw;
}

/* 💄 Card styles */
.card-style {
  margin: 2vw;
  background: linear-gradient(#dcfff4, #5dfeca);
  border-radius: 25px;
}

.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner {
  background: linear-gradient(#5dfeca, #dcfff4);
  border-radius: 25px;
}

.activity-data,
.week-activity-data {
  background: linear-gradient(#dcfff4, #ffccfe);
}

/* 📱➡💻 MEDIA QUERIES */
@media only screen and (min-width: 750px) {
  .display-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .desktop-area {
    display: flex;
    justify-content:space-evenly;
  }
}
