* {
/*  border: 1px solid pink;*/
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0px;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 14% 43% 43%;
  grid-template-rows: max-content;
  grid-template-areas:
  "header header header"  
  "aside main main";
}

header {
  background-color: darkgray;
  border: 2px solid gray;
  color: white;
  grid-area: header;
  padding: 10px;
}

h1 {
  text-align: center;
}

aside {
  background-color: #c7dbfc;
  grid-area: aside;
}

main {
  background-color: lightgray;
  border-left: 3px solid darkgray;
  grid-area: main;
  column-width: 20vw;
  padding: 30px;
}

.main-top-date {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

input {
  height: 40px;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 98%;
}

/*button {
  height: 30px;
  margin-top: 10px;
}*/

article {
  border: 2px solid white;
  background-color: #c7dbfc;
  break-inside: avoid;
  height: 280px;
  margin-bottom: 20px;
  padding: 10px;
}