.activity-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 40px 10px 10px
  padding-bottom: 20px
  width: 30%
  header
    align-items: flex-start
    display: flex
    position: relative
    h1
      margin: 10px 15px
  main
    text-align: center
  footer
    display: none
    img
      cursor: pointer
      display: inline
      margin-right: 2px
      width: 10px

.additional
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 2fr 1fr
  margin: 0 0 15px

.compare
  border-radius: 20px
  cursor: pointer
  margin: auto
  padding: 5px 20px
  width: fit-content
  &:hover
    background-color: $hover-color

.compare-block
  display: none
  &>h2
    border-top: 1px solid $background-color
    margin: auto
    padding: 15px 20px 0
    width: fit-content
  .tiny
    font-size: 40px
    padding: 0 10px 0

@import '../elements/dropdown'
@import '../elements/search'
