.activity-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 20px
  padding-bottom: 20px
  width: 30%
  header
    align-items: flex-start
    display: flex
    position: relative
    h1
      margin: 10px 15px
  main
    text-align: center
    div
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: 2fr 1fr
      margin: 0 0 15px
  footer
    display: none
    img
      cursor: pointer
      display: inline
      margin-right: 2px
      width: 10px

.compare
  border-radius: 20px
  cursor: pointer
  margin: auto
  padding: 5px 20px
  width: fit-content
  &:hover
    background-color: $hover-color

.compare-block
  display: none
  h3
    border-top: 1px solid $background-color
    margin: 0 50px
    padding-top: 15px

@import '../elements/dropdown'
@import '../elements/search'
