#width
  width: 43%

.step-challenge-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 40px 10px 10px
  padding-bottom: 20px
  header
    align-items: flex-start
    display: flex
    position: relative
    h1
      margin: 10px 15px
  main
    text-align: center
  footer
    display: none
    img
      cursor: pointer
      display: inline
      margin-right: 2px
      width: 10px

.challenge-steps
  color: #468E43
  font-size: 35px
  font-weight: 700

.step-winner
  color: #468E43
  font-size: 30px
  font-weight: 700

.additional
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 2fr 1fr
  margin: 0 0 15px

.compare
  border-radius: 20px
  cursor: pointer
  margin: auto
  padding: 5px 20px
  width: fit-content
  &:hover
    background-color: $hover-color

// .compare-block
//   display: none
//   &>h2
//     border-top: 1px solid $background-color
//     margin: auto
//     padding: 15px 20px 0
//     width: fit-content
//   .additional
//     align-items: center
//     grid-template-columns: repeat(2, 1fr)
//     grid-template-rows: repeat(3, 1fr)
//     margin-top: 20px
//     .tiny
//       justify-self: end
//       font-size: 40px
//       padding: 0 10px 0
//     h3
//       justify-self: start
//       margin-left: 20px


@import '../elements/dropdown'
@import '../elements/search'
