#width
  width: 24%

.step-challenge-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 10px 10px 10px
  padding-bottom: 20px
  header
    align-items: flex-start
    display: flex
    position: relative
    h1
      margin: 10px 15px
  main
    text-align: center
    h2
      margin: 0 0 10px 0
  footer
    display: none
    img
      cursor: pointer
      display: inline
      margin-right: 2px
      width: 10px

.challenge-steps
  color: #468E43
  font-size: 35px
  font-weight: 700

.step-winner
  color: #468E43
  font-size: 29px
  font-weight: 700

.step-contestants
  display: block
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 2fr 1fr
  margin: 0 0 15px
  h3
    margin: 0 0 10px 0

.compare
  border-radius: 20px
  cursor: pointer
  margin: auto
  padding: 5px 20px
  width: fit-content
  &:hover
    background-color: $hover-color

@import '../elements/dropdown'
@import '../elements/search'
