.bio-info
  background-color: $section-color
  box-shadow: $white-shadow
  border-radius: 20px
  padding: 10px

.bio-info header
  text-align: center

.bio-info header h3
  font-size: 20px
  text-transform: uppercase

.bio-info main
  font-size: 18px

.bio-info main p
  font-weight: bold
