/* *** FRIENDS SECTION MENU *** */

.friends-section
  background-color: $section-color
  box-shadow: $white-shadow
  border-radius: 20px
  padding: 10px
  header
    text-align: center
    h3
      font-size: 20px
  .friend-names
    p
      font-size: 14px
      margin-bottom: 10px
      padding-left: 5px
    h5
      border-top: 1px solid #000
      font-size: 18px
      margin-right: 30px
      padding:
        left: 5px
        top: 10px
      &:first-child
        border-top: none
