.friends-section
  background-color: $section-color
  box-shadow: $white-shadow
  border-radius: 20px
  padding: 10px

.friends-section header
  text-align: center

.friends-section header h3
  font-size: 20px

.friends-section section img
  height: 50px
  width: 50px

.friends-section section h5
  font-size: 18px

.friends-section section p
  font-size: 14px