/* *** SEARCH DATE STYLES *** */

%style-search-shared
  background-position: center
  background-repeat: no-repeat
  background-size: 50%
  border-radius: 20px
  height: 30px
  width: 30px

.search
  align-items: center
  background-color: #fff
  border: 1px solid $background-color
  border-radius: 20px
  box-shadow: $black-shadow-small
  display: flex
  margin: 12px 15px
  position: absolute
  top: 3px
  right: 0px
  height: 34px
  min-width: 34px
  input
    border: none
    display: none
    font-size: 18px
    margin: 5px
    text-align: right
  label
    @extend %style-search-shared
    background-image: url('../images/search.svg')
    cursor: pointer
  button
    @extend %style-search-shared
    border: none
    display: none
    background-image: url('../images/tick.svg')
