.sleep-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 40px
  width: 25%

.sleep-widget header
  align-items: flex-start
  display: flex
  position: relative

.sleep-widget header h1
  margin: 10px 15px

@import './dropdown'
@import './search'
