/* *** STEPS GOAL MENU *** */

.steps-goal
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  main
    p
      color: $numbers-color
      font-size: 44px
      font-weight: 700
      padding: 10px
    h4
      border-top: 1px solid #000
      padding-top: 20px
      margin-top: 5px
  footer
    p
      cursor: pointer
      border-radius: 20px
      padding: 5px 25px
      text-align: center
      width: fit-content
      &:hover
        background-color: $hover-color
        box-shadow: $black-shadow-small
  .average
    display: none
