.today-widget
  align-items: center
  border-radius: 20px
  box-shadow: $black-shadow
  display: flex
  justify-content: space-between
  margin: 40px 10px 10px 40px
  padding: 10px 15px

.month
  color: $numbers-color
  font-size: 34px
  font-weight: 700
