.water-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 40px
  padding-bottom: 20px
  width: 32%

.water-widget header
  align-items: flex-start
  display: flex
  position: relative

.water-widget header h1
  margin: 10px 15px

@import './dropdown'
@import './search'

.water-widget main
  text-align: center

.weekly-show
  display: none

.stars
  display: flex
  justify-content: center
  margin-top: 10px

.stars img
  margin-right: 8px
  width: 20px

.stars p
  margin-left: 8px

.weekly-show .date
  font-weight: 400
  margin-top: 10px

.weekly-show footer
  display: flex
  justify-content: center
  padding-top: 25px

.weekly-show footer img
  cursor: pointer
  margin-right: 5px
  width: 10px