html {
  display: flex;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BC74F3;
  color: #3d3d4e;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Bungee', sans-serif;
  transform: scale(0.90);
  border: 5px solid #3d3d4e;
  border-radius: 18px;
}

main {
  overflow-wrap: break-word;
  background-color: #FBF5E7;
  width: 100%;
  height: 180%;
  box-shadow: 40px 40px #3d3d4e;
  border-radius: 18px;
}

header {
  display: flex;
  background-color: #FBF5E7;
  height: 5%;
  /* justify-content: center; */
  border-radius: 12px;
}

h1 {
  font-size: 2em;
  margin-left: .5em;
  margin-top: 0;
  padding-top: .5em;
  display: flex;
}

.dumbell-image {
  margin-left: .5em;
  margin-top: 1em;
}

nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  align-items: center;
}

.link {
  margin-left: 1em;
  font-size: larger;
  color: #BC74F3;
}
/*<><> Main user Data <><>*/
/*<> Left <>*/

.contact-info {
  font-family: 'DotGothic16', sans-serif;
  font-style: normal;
}

.name-cont {
  width: auto;
  height: auto;
  overflow-x: visible;
  overflow-wrap: break-word;
}

.user-data {
  background-color: #FBF5E7;
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  overflow-x: hidden;
}

.user-data-left {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-bottom: 6em;
  margin-top: 15em;
  width: 25%;
  padding-left: 3em;
}

.user-name {
  font-size: 3.5rem;
  font-family: 'Bungee', sans-serif;
  filter: none;
}

.address-cont {
  float: right;
  padding-right: 2em;
  padding-bottom: 2em;
  overflow-x: auto;
  font-size: 1.2em;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: left;
}

/*<> Right <>*/

.user-data-right {
  display: flex;
  justify-content: right;
  width: 40%;
  margin-top: 4em;
}

dl {
  display: flex;
  flex-direction: column;
}

dt {
  height: 20%;
  margin-left: .5em;
  text-align: center;
  padding-bottom: .5em;
  font-size: 150%;
  border-radius: 20px 20px 0px;
}

.stride-cont,
.steps-goal-cont,
.global-steps-goal-cont {
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
}

.data {
  padding-top: 20px;
  font-size: 2em;
}

/* animation: 3s linear 1s infinite running slidein; */
@keyframes stride-animation {
  from {
    width: 1vw;
  }

  to {
    width: 15vw;
  }
}

@keyframes steps-goal-animation {
  from {
    width: 1vw;
  }

  to {
    width: 25vw;
  }
}

@keyframes global-steps-goal-animation {
  from {
    width: 1vw;
  }

  to {
    width: 35vw;
  }
}

.stride-label {
  background-color: #D4B7F8;
  padding: 15px 0px;
  padding: 15px 0px;
  width: 15vw;
  animation-name: stride-animation;
  animation-duration: .5s;
  animation-direction: normal;
  box-shadow: 20px 20px #3d3d4e;
}

.steps-goal-label {
  background-color: #FBE5A8;
  padding: 15px 0px;
  width: 25vw;
  animation-name: steps-goal-animation;
  animation-duration: 1s;
  animation-direction: normal;
  box-shadow: 20px 20px #3d3d4e;
}

.global-steps-goal-label {
  background-color: #B7DAF7;
  padding: 15px 0px;
  width: 35vw;
  animation-name: global-steps-goal-animation;
  animation-duration: 1.5s;
  animation-direction: normal;
  box-shadow: 20px 20px #3d3d4e;
}

.banner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAC8EC;
  border-top: 3px #3d3d4e solid;
  border-bottom: 3px #3d3d4e solid;
  height: 15vh;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Sixtyfour', sans-serif;
  margin-bottom: 20px;
}

#sleep-banner {
  margin-top: 1.4em;
}

h2 {
  font-family: "Bungee Outline", sans-serif;
  font-size: 8em;
  text-align: right;
  padding-right: 5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  color: #3d3d4e;
  height: min-content;
  filter: drop-shadow(1px 105px 1px #a7a7a7);
}

.sleep-heading {
  text-align: left;
  padding-left: 5vw;
  margin-top: 4%;
  position: relative;
}

.hydration-container {
  display: flex;
  flex-direction: row-reverse;
  height: 80vh;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100%;
}

.hydration-right-cont {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hydration-left-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  float: inline-start;
}

.weekly-hydration-select {
  border-radius: 20px 20px 20px 0px;
  background-color: #D4B7F8;
  width: 45vw;
  height: 20%;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  font-size: 200%;
  color: #3d3d4e;
  box-shadow: 20px 20px #3d3d4e;
}

.daily-hydration-cont {
  border-radius: 20px 20px 20px 0px;
  background-color: #B7DAF7;
  text-align: center;
  padding-top: 5%;
  width: 35vw;
  height: 15%;
  margin-bottom: 20%;
  margin-top: 20%;
  box-shadow: 20px 20px #3d3d4e;
}

#hydration-data {
  font-size: 6em;
  position: absolute;
  top: 35%;
  left: 25%
}

.daily-hydration-label {
  font-size: xx-large,
}

.moon-img-cont {
  display: flex;
  margin-inline-start: 80px;
  margin-inline-end: 40px;
}

.daily-sleep-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.daily-sleep-data {
  font-size: xx-large;
  margin: 0,
}

.daily-sleep-label {
  margin: 0;
}

.avg-sleep-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 90px;
  margin-right: 2em;
}

.avg-quality-data {
  margin: 0;
  font-size: xx-large;
}

.avg-hours-data {
  margin: 0;
  font-size: xx-large;
}

.avg-hours-label {
  margin-top: 20px;
  margin-left: 0;
}

.water-img-cont {
  position: relative;
  margin-right: 20em;
  text-align: center;
  margin-top: 3em;
}

.moon-png,
.water-png {
  height: 100%;
  width: 100%;
  padding-right: 2vw;
}

.sleep-data-cont {
  margin-left: 200px;
  font-size: xx-large;
} 

.date-label,
.weekly-hours-label,
.weekly-quality-label {
  font-size: x-large;
  margin: 0;
}

.main-sleep-container {
  height: 100vh;
}

.sleep-quality-cont {
  margin-left: 50px;
}

.sleep-cont-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  float: left;
}

.sleep-cont-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: inline-end;
  justify-content: space-around;
  min-height: 100%;
}

.daily-sleep-cont {
  border-radius: 20px 20px 0px 20px;
  background-color: #B7DAF7;
  padding: 3%;
  width: 35vw;
  height: 12vh;
  margin-bottom: 0;
  margin-top: 10%;
  box-shadow: 20px 20px #3d3d4e;
}

.weekly-sleep-select {
  border-radius: 20px 20px 0px 20px;
  background-color: #D4B7F8;
  width: 55vw;
  height: 20vh;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  font-size: 200%;
  color: #3d3d4e;
  box-shadow: 20px 20px #3d3d4e;
}

.avg-sleep-cont {
  border-radius: 20px 20px 0px 20px;
  background-color: #B7DAF7;
  padding-top: 10%;
  padding-bottom: 0;
  width: 46vw;
  height: 10vh;
  margin-right: 0;
  box-shadow: 20px 20px #3d3d4e;
}

table,
tr,
th {
  padding: 10px 10px;
  text-align: center;
}

.hours-slept {
  border-right: 2px #3d3d4e solid;
}

.data-cont {
  display: flex;
  align-items: center;
  justify-content: end;
}
