* {
  font-family: 'Montserrat', 'sans-serif';
  color: #ffffff;
}

body, html {
  background-color: #161C23;
  font-family:
}

h1 {
  font-size: 20px;
}

header {
  display: flex;
  background-color: #3c3e3c;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-wrap: wrap;
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #3c3e3c;
  width: 22%;
  height: 100%;
}

.sleep-section {
  height: 25vh;
}

.hydration-section {
  height: 25vh;
}

.user-profile-info {
  display: flex;
  justify-content: space-evenly;
}

.stat {
  display:flex;
  flex-direction: column;
}

.adjacent-stats {
  display:flex;
  justify-content: space-around;
}
