* {
  color: #ff00ff;
  font-family: optima;
  font-style: oblique;
  text-shadow: 0 0 7px #ffc0cb, 0 0 21px #ff00ff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    margin: 0;
    padding: 0;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("https://www.secureworks.com//content.secureworks.com/-/media/Images/Insights/2022/abstract%20approved/008-blue-purple-windows/008-blue-purple-windows_800x800.ashx?modified=20220621215349");
  background-size: 50%;
  height: 100vh;
  image-rendering: -webkit-optimize-contrast;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

span {
  color: #5c2c6d;
}

h1 {
  font-size: 45px;
}

h2 {
  color: #6df1d8;
  font-size: xx-large;
  -webkit-animation: flicker 3s infinite;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }

  9% {
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  13% {
    opacity: 0;
  }

  20% {
    opacity: 0.5;
  }

  25% {
    opacity: 1;
  }
}

.user-info,
.step-goal,
.hydro-info,
.sleep-info {
  border-bottom: 0.5px solid #ff00ffe5;
  color: #5c2c6d;
  font-family: optima;
  font-size: x-large;
}

.user-info-container,
.step-goal-container,
.hydration,
.sleep {
  border: 2px solid #f48a86;
  background-color: rgba(128, 228, 214, 0.1);
  border-radius: 8px;
  padding: 15px;
}

.personal-information-container {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.widgets-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sleep {
  height: 300px;
  overflow-y: scroll;
}

#firstName {
  color: #6df1d8;
}
