* {
  margin: 0;
  max-width: auto;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  overflow-wrap: normal;
}

header {
  display: flex;
  font-family: 'Bungee Shade', cursive;
  justify-content: space-around;
  margin: 0;
}

section {
  display: flex;
}

.card {
  border-radius: 50px;
  height: 20vh;
  margin: 10px;
  padding: 10px;
  width: 50vw;
}

.card-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-box, 
div
 {
  align-items: center;
  border: none;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 50vw;
}

.sleep {
  background-color: rgb(141, 102, 224);
}

.activity {
  background-color: aquamarine;
}

.hydration {
  background-color: rgb(244, 167, 85);
}

.header-box {
  background-color: rgb(255, 204, 236);
}

h3 {
  font-size: 30px;
  margin: 2px;
}

h4 {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}

.logo img {
  border: none;
  border-radius: 50px;
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.user-name {
  font-size: 30px;
}

.user-info {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    font-size: 30px;
  }
}