body {
  width: 100vw;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background-color: #232323;
  color: white;
  margin: 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 25%;
  height: 100%;
  border-right: 1px solid #232323;
  background-color: #353333;
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
  padding-bottom: 100px;
  margin-right: 20px;
}

.main {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-report {
  flex-direction: column;
  background-color: #232323;
}

.daily-report {
  display: flex;
}

.week,
.hydration,
.sleep {
  border-radius: 8px;
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
  display: flex;
  background-color: #353333;
}

.week {
  border: 2px solid #fddde0;
  padding: 10px;
  margin-bottom: 50px;
  width: 97%;
  flex-direction: column;
  align-items: center;
}

.hydration {
  border: 2px solid #bbe7ff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 200px;
}

.sleep {
  border: 2px solid #baefc3;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  width: 600px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-welcome {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-name {
  font-size: large;
  margin-right: 30px;
  margin-left: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px;
}

.step-goal {
  margin-top: 30px;
  border: 2px solid rgb(255, 243, 199);
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
  margin-left: 20px;
  padding: 5px;
  box-sizing: initial;
}

.small-weekly-container {
  display: flex;
  justify-content: space-between;
}

.weekly-steps,
.weekly-stairs,
.weekly-minutes {
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
  background-color: #353333;
}

.weekly-steps {
  border: 2px solid rgb(215, 199, 255);
}

.weekly-stairs {
  border: 2px solid rgb(199, 239, 255);
}

.weekly-minutes {
  border: 2px solid rgb(255, 199, 211);
}

.calendar-submit {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

h1 {
  font-size: 50px;
  margin-left: 20px;
}

.fa-regular {
  padding: 10px;
  color: #bbe7ff;
}

input {
  margin: 0px 10px;
}

.today-input-container,
.user-input-title,
.hydration-input-info,
.activity-input-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 21px;
  margin-bottom: 20px;
}

.today-steps {
  margin-left: 86px;
}

.today-stairs {
  margin-left: 14px;
}

.today-sleep-quality {
  margin-left: 23px;
}

.today-sleep-hours {
  margin-left: 33px;
}

.today-hydration {
  margin-left: 24px;
}

.input-button-container {
  width: 100%;
  margin-left: 136px;
}

.input-button {
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 2px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 6px 12px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.input-button:hover,
.input-button:hover {
  outline: 0;
  color: black;
}
.input-button:active,
.input-button:active {
  outline: 0;
  color: #fff;
}
.input-button {
  z-index: -1;
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.input-button:hover {
  background-position: left bottom;
  border: 0;
}

.submitErrorMessage {
  display: flex;
  justify-content: center;
}

.fetch-error {
  font-size: 80px;
  color: red;
}