* {border:1px solid black}
html {
  height: 100vh;
  width:100vw;
}


body {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  margin: 0px;
}

div > section,
main > section {
  justify-content: center;
  border-radius: 25px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

header > p {
  margin: 18px;
}

.page-wrapper {
  display: flex;
  height: 90vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: white;
  margin: 25px;
}

/*   Wraps welcome-message to end of page   */
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 25px;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: white;
}

.step-display {
  display: flex;
  justify-content: space-around;
  width: 100%
}

.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.activity,
.sleep,
.hydration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/*   User Data Modules   */
main > section {
  background-color: white;
  height: 300px;
  width: 300px;
  margin: 35px;
}
