/* * {
  height: 100%;
  width: 100%;
  border: 2px solid green;
  margin: 0;
} */

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background: linear-gradient(0.25turn, #3365ee, #3c4b7b, #6d758a);
  transition: transform 250ms ease-out;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  margin: 0;
  border: 2px solid black;
}

.lower-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-date {
  background-color: rgb(158, 234, 231);
  margin-right: 3%;
  border-radius: 8px;
  padding: 1%;
  text-shadow: 2px 2px rgb(222, 217, 217);
}

.header-quote {
  border-radius: 8px;
  background-color: rgb(158, 234, 231);
  margin-left: 3%;
  padding: 1%;
  text-shadow: 2px 2px rgb(222, 217, 217);
}

.header-welcome {
  border-radius: 8px;
  background-color: rgb(158, 234, 231);
  font-size: 2.5em;
  width: 30%;
  padding: 1%;
  display: flex;
  margin-left: 35%;
  box-shadow: 7px 5px 5px #2c2e34;
}

/* Main */
.data-container {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  border: 2px solid black;
}

.widget {
  /* height: 50%; */
  width: 70%;
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(9, 169, 193);
  border-radius: 10px;
  box-shadow: 7px 5px 5px #2c2e34;
  text-shadow: 2px 2px rgb(222, 217, 217);
}

.top-widgets {
  display: flex;
}

.sleep-info {
  display: flex;
  justify-content: center;
}

/* .widgetTitles {
  background-color: rgb(9, 169, 193);
  border-radius: 10px;
  width: 15%;
  box-shadow: 7px 5px 5px #2c2e34;
  text-shadow: 2px 2px rgb(222, 217, 217);
  cursor: pointer;
  padding: 1%;
} */

/* SideBar */
.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  border: 2px solid black;
  overflow-y: auto;
  align-items: center;
}

.user-name {
  display: flex;
  flex-direction: column;
  height: 10%;
  margin: 0% 5% 0% 5%;
  cursor: pointer;
}

.sidebar-title {
  height: 10%;
  background-color: rgb(9, 169, 193);
  border-radius: 10px;
  width: 25%;
  box-shadow: 7px 5px 5px #2c2e34;
  text-shadow: 2px 2px rgb(222, 217, 217);
  padding: 1%;
}