/* variables */
$blue: rgb(86, 153, 248);
$transparent-blue: rgba(86, 153, 248, 0.5);
$warm-black: rgba(26, 14, 1, 0.5);

/* wide ranging */
* {
  margin: 0;
  max-width: auto;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

body, header, .activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-box, 
div, 
.activity-info,
.activity,
.info-card,
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: radial-gradient(circle at center,#64aef8, #426eb0, #052c62), 100%;
  font-size: 20px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  overflow-wrap: normal;
  padding: 0px 200px;
}

header {
  align-items: center;
  width: 100vw;
  margin: 0;
  color:white;
}

section {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

ul {  
  height: 250px;
  width: 350px;
  padding: 5px;
}

  li {
    list-style-type: none;
  }

.button{
  box-shadow: -2px 0px 6px 0px $transparent-blue;
  border: $transparent-blue solid 4px;
  padding: 10px;
  background-color: white;
  color:black;
  border-radius: 50px;

  &:hover, &:focus {
    background-color: $blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.info-box, div {
  justify-content: center;
  height: 18vh;
  width: 35vw;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
}

/* activity styling */

.activity-container {
  align-items: center;
  height: 300px;
  box-shadow: -2px 0px 6px 0px $transparent-blue;
  background-color: white;
  border-radius: 50px;
}

  .activity-info-box {
    height: 100%;
    width: 25%;
    padding: 10px;
    position: relative;

    h2 {
      font-size: 20px;
    }
  }

  .activity-chart {
    height: 250px;
    width: 320px;
  }

  .activity-info {
    width: 350px;
    height: 90px;
  }

  .activity {
    border-radius: 50px;
    justify-content: center;
    border: none;
  }
  .activityUserStat {
    margin-top: 15px;
  }

/*Other boxes */
.sleep, .activity, .hydration {
  background-color: #fff;
  box-shadow: -3px 0px 6px 1px $transparent-blue;
}

.info-card {
  background-color: white;
  border-radius: 50px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0px 6px 0px $transparent-blue;
}

/* logo, header, user info */
.logo {
  display: flex;
  width: 175px;
  height: 175px;
  clip-path: circle();
  background: #5699f8;
  padding: 0px;
  margin-left: 200px;
  float: left; 
}

.logo img {
  display: block;
  height: 95%;
  object-fit: contain;
  width: 95%;
}

.user-main {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0px;
  text-shadow: 10px 10px 10px $warm-black;
}

.user-name {
  display: flex;
  font-size: 30px;
}

.user-info {
  font-size: 20px;
}

/* modal formatting */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  top: 0%; 
  width: 75%; 
  height: 50%; 
  max-width: fit-content;
  background-color: rgba(255, 255, 255); 
  border: 6px solid $blue;
  padding-top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid $blue;
  width: 50%;
}

.data-input {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  margin: 2px;
  text-align: center;
}

.input-box {
  padding: 2%;
  width: 500px;
  justify-content: space-between;
}

.user-input {
  width: 150px;
  margin-left: 185px
}

.close-btn {
  margin: 10px;
  color: black;
  float: right;
  font-size: 36px;
  font-weight: bold;

  &:hover, &:focus {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.open-modal{
  position: absolute;
  margin-top: 150px;
  z-index: inherit;
}

/* media queries */
@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  .activity-container {
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }

  .info-box {
    width: 90%;
    max-width: 90%;
    font-size: 20px;
  }

  .card-title {
    width: 90%;
  }

  section {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .input-box {
    justify-content: center;
    width: 90%;
  }

  .user-main {
    width: 90%;
    min-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    margin-top: 0;
  }

  .user-info {
  display: none;
  }

  .logo {
  margin-left: 0;
  }

  .user-main{
    margin-top: 0;
  }
  .activity-info-box {
    max-width: 90%;
  }

  .modal {
    width: 90%;
    height: auto;
  }

  .modal-content {
    width: 90%;
  }
}






