body, html {
  background-color: #3bb957;
  width: 100%;
  height: 100%;
  font-family: 'Jaldi', sans-serif;
}

header {
  width: 400px;
  background-color: #98d1d9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 10px;
}

h3 {
  font-size: 25px;
  margin: 5px;
}

p {
  font-size: 12px;
  margin: 2px;
  padding: 3px;
}
 h4 {
   margin: 5px;
 }

.card,
header,
.card-box {
  border-radius: 25px;
  box-shadow: inset 0 4px 6px 0px #4c6cd5
}

.card {
  background-color: #ffdb7e;
  width: 400px;
  height: 450px;;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-box {
  background-color: #fff8f5;
  width: 80%;
  margin: 10px;
}

.user-card-properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 70%;
}

.user-water-per-day {
  margin: 10px;
}

.user-sleep-per-day {
  margin: 10px;
}

#userGreeting {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 0px;
}
