body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/IMG_4293.png");
  background-size: cover;
  background-position: 0%;
}

.fredoka400 {
  font-family: 'Fredoka One', cursive;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.fredoka200 {
  font-family: 'Fredoka One', cursive;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

/* header */
p {
  margin: 0px;
}

.header{
  padding: 0% 5%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255, .6);
  color: black;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 2%;
  background-color: rgb(255, 255, 255, .6);
  font-size: 50px;
}

.header-welcome-mat{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0% 3%;
  padding-top: 1%;
}

.header-welcome {
  word-wrap: break-word;
  max-width: 200px;
}

.header-welcome-username {
  font-size: 40px;
  text-align: center;
}

.header-userlogo{ 
  background-color: rgb(255, 255, 255, .6);
}

.friend-list {
align-items: ceter;
}

.steps-content-header {
  align-items: center;
}

/* display */

.display {
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255, .6);
}

.display-article {
  display: flex;
  flex-direction: column;
  color: black;
  max-width: 310px;
  border-radius: 10px 30px;
  background-color: rgb(255, 255, 255, .6);
}

.display-article-header {
  font-size: 25px;
  padding: 10px;
}

.display-article-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

/* elements */

.bold {
  font-weight: bold;
}

.border {
  border: 1px solid black;
}

.display-article-header-icon {
  height: 50px;
  margin: 0px -5px 0px 0px;
}

.flame-icon {
  height: 50px;
  margin: 0px -7px 0px -15px;
}

.has-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.has-margin {
  margin: 10px ;
}

.verticle-margin {
  margin: 10px 0px ;
}

.clickable {
  cursor: pointer;
}

.bent-left {
  border-radius: 30px 10px;
}

.bent-right {
  border-radius: 10px 30px;
}

.graph {
padding: 0px 10px 0px 0px;
margin-top: auto;
}
