* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #323A45;
  height: 850px;
}

header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  padding: 1%;
}

main {
  border: 2px solid violet;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "one two three";
  /* grid-template-columns: 2fr 2fr 2fr; */
  grid-template-rows: 2fr 2fr 2fr;
  height: 100%;
  margin: 0 10%;
  padding: 1%;
}

.one {
  background: #FFFFFF;
  grid-area: one;
  border-radius: 1%;
  padding: 1%;
}
.two {
  background: #FFFFFF;
  grid-area: two;
  border-radius: 1%;
  padding: 1%;
}

.three {
  background: #FFFFFF;
  grid-area: three;
  border-radius: 1%;
  padding: 1%;;
}

.users-name {
  text-align: center;
}

/*  */
