*,
*:after,
*:before {
  border: solid 1px grey;
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: space-between;
  padding: 1%;
  width: 100%
}

#left,
#right {
  align-self: flex-end;
}

main {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  width: 100%
}

.habit-column {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33%
}

.box {
  height: 30%;
  width: 90%;
}

.chart-container {
  height: 100%;
  width: 50%;
}
