/* red: #F5634B  */
/* teal: #54C6BE  */
/* purple: #8975B2  */
/* yellow: #FBD089  */
/* darkgray: #1F1F1F */

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
/* border: 1px solid red; */
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #1F1F1F;
}

p,
h3 {
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size: 7vw;
  /* font-weight: lighter; */
  letter-spacing: .1em;
}

h3 {
  display: inline;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: .2em;

}

header {
  text-align: center;
}

#nav-button {
  display: inline;
  float: right;
  background-image: url(../images/navbutton.png);
  background-position: center;
  background-size: 5.4vw;
  height: 5.4vw;
  width: 5.4vw;
  margin-right: .5vw;
  border: none;
  margin-top: 1vw;
}

h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: .2em;

}

main {
  display: grid;
  grid-template-areas:
    'steps hydration'
    'stairs sleep';
  height: 100%;
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vw;

}

.main-card-top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 1vw; */
}

.main-card-bottom-row {
  width: 100%;
  text-align: center;
}

.info-button {
  display: inline;
  height: 3.4vw;
  width: 3.4vw;
  margin-left: 1vw;
  background-position: center;
  background-size: 3.4vw;
  border: none;
}

.friends-button {
  display: inline;
  height: 3.4vw;
  width: 3.4vw;
  margin-right: 1vw;
  background-position: center;
  background-size: 3.4vw;
  border: none;
}

.calendar-button {
  display: inline;
  float: right;
  height: 3.4vw;
  width: 3.4vw;
  margin-right: 1vw;
  background-position: center;
  background-size: 3.4vw;
  border: none;
}

#steps-card-container {
  grid-area: steps;
  background-color: #F5634B;
  margin: .5vw;
}

#hydration-card-container {
  grid-area: hydration;
  background-color: #54C6BE;
  margin: .5vw;
}

#stairs-card-container {
  grid-area: stairs;
  background-color: #8975B2;
  margin: .5vw;

}

#sleep-card-container {
  grid-area: sleep;
  background-color: #FBD089;
  margin: .5vw;
}

.card-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

p {
  text-align: right;
  word-break: keep-all;
  width: 9vw;
  letter-spacing: .2vw;
  font-size: 1.2vw;
  margin-right: 1vw;
  font-weight: 600;
  padding-top: 2vw;
}

h4 {
  font-size: 6vw;
}

.go-back-button {
  margin-left: 1vw;
  background-position: center;
  background-size: 3.4vw;
  height: 3.4vw;
  width: 3.4vw;
  border: none;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.steps-go-back-button {
  background-image: url(../images/steps-goback.png);
}

.steps-info-button {
  background-image: url(../images/steps-info.png);
}

.steps-friends-button {
  background-image: url(../images/steps-friends.png);
}

.steps-calendar-button {
  background-image: url(../images/steps-calendar.png);
}

.hydration-go-back-button {
  background-image: url(../images/hydration-goback.png);
}

.hydration-info-button {
  background-image: url(../images/hydration-info.png);
}

.hydration-friends-button {
  background-image: url(../images/hydration-friends.png);
}

.hydration-calendar-button {
  background-image: url(../images/hydration-calendar.png);
}

.stairs-go-back-button {
  background-image: url(../images/stairs-goback.png);
}

.stairs-info-button {
  background-image: url(../images/stairs-info.png);
}

.stairs-friends-button {
  background-image: url(../images/stairs-friends.png);
}

.stairs-calendar-button {
  background-image: url(../images/stairs-calendar.png);
}

.sleep-go-back-button {
  background-image: url(../images/sleep-goback.png);
}

.sleep-info-button {
  background-image: url(../images/sleep-info.png);
}

.sleep-friends-button {
  background-image: url(../images/sleep-friends.png);
}

.sleep-calendar-button {
  background-image: url(../images/sleep-calendar.png);
}

/* HIDE CARDS */
.hide {
  display: none;
}
