* {
  box-sizing: border-box;
  color: #d1d5d9;
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: #1c222c;
}

header {
  background-color: #2c3a47;
  border-radius:4px;
  text-align: center;
}

h1 {
  color: #2FB5B6;
  font-size: 100px;
  font-weight:700;
  margin: 0;
  padding: 0;
}

h2 {
  padding-bottom: 10px
}

.personal-info-box-text {
  padding-bottom: 5px;
  padding-top: 5px;
}

.pink-i{
  color: #FC5D79;
}

.nav-boxes,
.graph-boxes,
.weekly-activity-charts {
  background-color: #2c3a47;
  border-radius:4px;
  text-align: center;
}

.box-header {
  background-color: #314150;
  font-size: 26px;
}

.big-nums {
  font-size: 100px;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

#sleep-metrics-quality,
#sleep-metrics-hours {
  height: 280px;
}

.record-quality-sleep,
.record-sleep {
  float: left;
  height: 50px;
  margin-left: 5%;
}

.average-quality-slept,
.average-sleep {
  float: right;
  height: 50px;
  margin-right: 5%;
}

.small-nums-header {
  font-size: 10px;
}

p,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.small-nums {
  font-size: 30px;
}

#num-daily-steps {
  font-size: 22px;
  margin-top: 30px;
  padding-bottom: 20px;
}

#num-steps-today {
  font-size: 40px;
}

#activity-metrics {
  height: 340px;
  margin-bottom: 20px;
}

.record-activity-minutes {
  margin-top: 30px;
}

#num-all-time-active-minutes-date {
  font-size: 18px;
  padding-top: 5px;
}

#step-goal-comparison {
  margin-bottom: 20px;
}

h6 {
  font-size: 18px;
}

.weekly-activity-charts {
  padding-bottom: 20px;
}

#weekly-activity-metrics {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#water-wrapper {
  margin-top: 20px;
}

#daily-ounces {
  font-size: 40px;
}

.today-ounces {
  margin-bottom: 20px;
  margin-top: 20px;
}

#weekly-sleep-charts,
#daily-activity-charts {
  margin-top: 20px;
}

.disclaimer {
  font-size: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {

  body {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 33% 65%;
    grid-template-areas: 
    "header header header"
  }

  header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 15px;
    width: 98%;
  }

  h1 {
    margin-left: 2%;
  }

  .welcome-user {
    margin-right: 5%;
    margin-top: 45px;
  }

  nav {
    margin-left: 10px;
  }

  #step-goal-chart {
    height: 300px;
  }

  #daily-activity-charts {
    display: inline-block;
    margin-left: 35px;
    padding-bottom: 20px;
    width: 1150px;
  }
}