* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "main main";
}
.hello {
    height: 100px;
    width: 100px;
}
header {
    align-items: center;
    background-color: #3c616f;
    border-radius: 4px;
    display: flex;
    height: 140px;
    grid-area: header;
    justify-content: space-evenly;
}

h1 {
    font-size: 7em;
    margin: 10px;
}

header h2 {
    font-size: 3em;
}

#random-user-span {
    color: #FC5D79;
    font-style: italic;
}

header span {
    color: darkcyan;
    margin-left: 5px;
    margin-right: 5px;
}

main {
    grid-area: main;
    grid-gap: 10px;
    margin: 0;
}

.grid {
    margin: 0 auto;
}

/* clearfix */
.grid:after {
    clear: both;
    content: '';
    display: block;
}

.grid-item {
    margin: 20px 10px 20px 70px;
    width: 600px;
}

section {
    border: 2px solid gray;
    border-radius: 4px;
    margin-top: 20px;
}

img {
    display: block;
    height: 157px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 157px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
    -moz-transition-property: height, width;
    -moz-transition-duration: 1s;
    transition-property: height, width;
    transition-duration: 1s;
}

img:hover {
    height: 227px;
    width: 227px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
    -moz-transition-property: height, width;
    -moz-transition-duration: 1s;
    transition-property: height, width;
    transition-duration: 1s;
}

article {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

article span {
    margin-left: 9px;
    margin-right: 9px;
    font-style: oblique;
    color: #000000ad;
}

#artice__user--step-goal-reminder {
    color: #B6E7EC;
}

.main__section--1 {
    background-color: #73A9BB;
}

.main__section--3 {
    background-color: #7397BB;
}

.main__section--4 {
    background-color: #7385BB;
}

.main__section--5{
    background-color: #7373BB;
}

.main__section--6 {
    background-color: #8573BB;
}

article h2 {
    background-color: #3c616f;
    padding: 5px;
    text-align: center;
}

h5 {
    font-size: 1em;
    padding: 5px;
}
