h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 200;
}

.activity-sec {
    flex-grow: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 30px;
}

.card {
    background-color: lightblue;
    border-radius: 25px;
    opacity: 0.6;
}

h3, 
p {
    padding: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

