* {
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;

}

header {
  background: linear-gradient(45deg,#CB79DD, #7483DE);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.name--display{
  text-align: center;
  padding: 15px;
}

.contact--info {
  text-align: left;
  font-size: 1.1em;
}

.info--wrapper {
  display: flex;
  flex-direction: row;
}

.contact--label {
  padding-right: 10px;
  font-weight: 700;
}

.user--info {
  font-weight: 300;
}

.main--container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* align-content: center; */
  /* justify-content: center; */
  width: 80%;

}

.card--container {
  width: 80%;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  background-color: grey;
}

.hydration--data-chart {
  height: 300px;
  width: 40%;
  margin: 20px;
  background: url('../images/water-background.jpg') center;
  background-size: auto;
  /* filter: brightness(60%); */
}

#weekly--water {
  position: absolute;
  /* z-index: 1; */
  /* opacity: 30%; */
}

