* {
  width: 100%;
  height: 100%;
  margin: 0
}
/* html elements */
nav {
  width: 100%;
  height: 4em;
  border: .1em solid black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: rgb(221,255,0);
  background: linear-gradient(90deg, rgba(221,255,0,1) 0%, rgba(158,167,34,1) 0%, rgba(204,191,58,1) 0%, rgba(80,128,145,1) 0%);
}

span {
  font-weight: bold;
}

h1 {
  width: fit-content;
  height: 1em;
}

h3 {
  width: fit-content;
  height: 1em;
}

h4 {
  height: fit-content;
  width: fit-content;
  text-decoration: underline;
  margin-top: .5em;
  margin-bottom: 1em;
}

p {
  width: fit-content;
  height: fit-content;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgb(240, 240, 240);
  height: 130%;
}
/* info card */
.user-info-card {
  width: 80%;
  height: 10em;
  display: flex;;
  justify-content: space-around;
  align-items: center;
  border: .1em solid black;
  margin-top: 5em;
  border-radius: 1em;
  background: rgb(221,255,0);
  background: linear-gradient(90deg, rgba(221,255,0,1) 0%, rgba(158,167,34,1) 0%, rgba(204,191,58,1) 40%, rgba(213,213,35,1) 100%);
}

.user-info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.friends-list {
  width: 50%;
  height: 9em;
  border: .1em solid black;
  margin: .1em;
  border-radius: 1em;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(255, 253, 253) 0%, rgb(224, 224, 224) 0%, rgba(197, 197, 197, 0.758) 0%);
}

/* info columns */
.hydration {
  background: rgb(0,3,36);
  background: linear-gradient(0deg, rgba(0,3,36,1) 0%, rgba(64,71,181,1) 0%, rgba(35,143,164,1) 96%);
}

.sleep {
  background: rgb(0,3,36);
  background: linear-gradient(0deg, rgba(0,3,36,1) 0%, rgba(19,55,23,1) 0%, rgba(41,167,0,1) 72%, rgba(90,149,18,1) 100%);
}

.activity {
  background: rgb(0,3,36);
  background: linear-gradient(180deg, rgba(0,3,36,1) 0%, rgba(171,34,90,1) 0%, rgba(167,0,0,1) 72%, rgba(158,43,43,1) 96%);
}

.info-section {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.columns {
  width: 30%;
  height: 90%;
  border: .1em solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
}

.column-header {
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: .5em;
}

.info-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(255, 253, 253) 0%, rgb(224, 224, 224) 0%, rgba(197, 197, 197, 0.758) 0%);
  border: .1em solid black;
  height: 12em;
  width: 90%;
  margin-bottom: 1em;
  border-radius: 1em;
}

.sleep-week-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sleep-hours-week,
.sleep-quality-week {
  width: fit-content;
  margin: 0;
}