* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}
/*
starting colors :
  body 323A45
  blue 33658A
  lighter blue 86BBD8
  yellow F6AE2D
  orange F26419
  white FFFFFF
   */
html, body {
  background-color: #323A45;
  height: 100%;
}

header {
  background-color: #33658A;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 400;
  height: 80px;
}

h1 {
  display: inline-block;
  padding-left: 20px;
}

#top-button {
  background-color: #F6AE2D;
  border: none;
  cursor: pointer;
  float: left;
  height: 100%;
  width: 80px;
}

.bar {
  background-color: black;
  height: 5px;
  margin: 10px auto;
  width: 50px;
}

button {
  cursor: pointer;
}

main {
  height: 100%;
  width: 100%;
}

#user-info {
  background-color: #FFFFFF;
  border: 2px solid #33658A;
  border-radius: 4px;
  color: #222234;
  grid-column: span 1;
  text-align: center;
}

#step-goals {
  margin-top: 40px;
}

h4 {
  color: #86BBD8;
  display: block;
  font-size: 1.8rem;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 50px;
}

#panel-container {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
}

#user-info p {
  font-size: 1rem;
  padding: 10px;
}

#friend-list {
  background-color: #FFFFFF;
  border: 2px solid #F6AE2D;
  border-radius: 2px;
  grid-column: span 1;
}

.box-label {
  background-color: #F6AE2D;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 10px;
}

.frnd-prof-img {
  height: 60px;
  margin-left: 7px;
  margin-top: 7px;
  padding-bottom: 7px;
  width: 60px;
}

#large-prof-pic {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 150px;
}

.friend {
  border-bottom: 2px solid #F6AE2D;
  display: flex;
  flex-wrap: wrap;
}

.friend-name {
  display: inline;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 5px;
}

#friend1 {
  border-top: 2px solid #F6AE2D;
}

.score-wrap {
  display: flex;
  justify-content: space-between;
}

.friend-score {
  color: #33658A;
  font-size: 1.6rem;
  margin-right: 100px;
  margin-top: -10px;
}

.score-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 800;
}

.frnd-position {
  color: black;
  font-size: 2rem;
  margin-left: auto;
  padding: 10px;
}

.hydration, .sleep, .activity {
  background: #FFFFFF;
  border: 2px solid #F6AE2D;
  border-radius: 2px;
  text-align: center;
  width: 100%;
}

.hydration-today, #hours-slept, #sleep-quality, #hours-slept-all, #sleep-quality-all {
  color: #33658A;
  font-size: 2.5rem;
  padding-left: 0px;
}

#miles-walked-today, #mins-active-today, #steps-today {
  color: #33658A;
  font-size: 2.1rem;
  padding-left: 0px;
}

h3 {
  font-size: 1.7rem;
  padding-bottom: 20px;
  padding-top: 10px;
}

#day-by-day {
  font-size: 1.1rem;
  font-weight: 800;
}

.hydration-day {
  padding: 3px;
  text-decoration: underline;
}

.lrg-sleep-wrap, .lrg-activity-wrap {
  display: flex;
  justify-content: space-around;
}

.sleep-wrapper, .activity-wapper {
  margin-top: 20px;
}

.sleep-label {
  font-size: 1.7rem;
  text-decoration: underline;
}
.activity-label {
  font-size: 1.3rem;
  text-decoration: underline;
}

#lrg-sleep-wrap-2 {
  margin-top: 60px;
}

table {
  border: 2px solid #F26419;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 }

th, td {
  border: 1px solid black;
  padding: 2px;
}

.main-tbl-head, .tbl-activity {
  background-color: #86BBD8;
}

.tbl-day, .table-activity-2 {
  background-color: #CDCDCD;
}

#mins-active-week, #steps-week, #miles-walked-week {
  padding-left: 0px;
}
