*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app-name {
  margin-left: 1.4vw;
  font-size: 26px;
}

.welcome-banner {
  width: 100vw;
  height: 5vh;
  background-color: #78C1E7;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-banner-right {
  width: 6vw;
}

.data-display {
  height: 95vh;
  display: flex;
  justify-content: space-around;
  background-color: #191923;
}

.friends-profile {
  background-color: #78C1E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fit-data-section {
  height: 88vh;
  width: 25vw;
  background-color: #FBFEF9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.fit-data {
  font-size: 14px;
  width: 22vw;
  text-align: center;
}

.highlight {
  font-size: 18px;
  text-align: center;
}

.walking-icon {
  height: 20vh;
}

.week-step-chart,
.week-sleep-chart,
.week-hydration-chart {
  height: 25vh;
  width: 20vw;
  margin-bottom: 1vh;
}

.fit-data-header {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
  margin-top: 2vh;
}

.day-hydro {
  height: 27vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  border-radius: 50%;
  border: 0px;
  width: 62px;
  height: 62px;
  margin-bottom: -30%;
  margin-top: -30px;
  font-size: 26px;
}

.user-avatar:hover {
  outline: #FBA03F;
  outline-style: solid;
  outline-offset: -1px;
  outline-width: 5px;
  cursor: pointer;
}

.single-friend {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 14vw;
  font-size: 14px;
}

.friend-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 8px;
  border: 0px;
  height: 40px;
  width: 40px;
  font-size: small;
}

.user-tab {
  height: 55vh;
  width: 15vw;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #78C1E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 14vw;
  font-size: 12px;
}

.user-name {
  margin-top: 35%;
  padding-bottom: 5%;
  font-size: 16px;
}

.user-name:hover {
  color: #BF1363;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 740px) {

  .data-display {
    height: 270vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .welcome-message {
    font-size: 14px;
  }

  .user-avatar {
    border-radius: 50%;
    border: 0px;
    width: 62px;
    height: 62px;
    margin-bottom: -30%;
    margin-top: -30px;
    font-size: 26px;
  }

  .friend-avatar {
    height: 30px;
    width: 40px;
    font-size: 16px;
  }

  .fit-data-section {
    height: 100vh;
    width: 50vw;
  }

  .fit-data {
    width: 35vw;
    text-align: center;
  }

  .user-tab {
    height: 55vh;
    width: 40vw;
  }
}
