*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #EAEBEF;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  min-width: 320px;
  padding: 10px;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  color: #5C75DA;
  letter-spacing: .9px
}

.username {
  font-weight: 600;
}

canvas {
  width: 200px;
  height: 100px;
}

.welcome-section {
  grid-area: welcome;
  margin-bottom: 10px;
}

.date {
  background-color: #5C75DA;
  border-radius: 3px;
  float: right;
  font-size: 10px;
  margin: 5px 5px;
  padding: 3px 5px;
  width: 175px;
  color: #EAEBEF;
  font-weight: 600;

}

.logo {
  align-items: center;
  display: inline-block;
  font-size: 20px;
  margin: 0px;
  width: 83%;
}

.welcome-message {
  border-radius: 3px;
  margin: 15px 3px 10px 3px;
  padding: 3px 15px;
  text-align: left;
}

.data-section {
  background-color: #FEFEFE;
  border-radius: 3px;
  margin: 5px;
  padding: 15px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 30%;
}

.data-section:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.data-heading {
  margin: 0px 0px 15px 0px;
  font-size: 1.5em;
  font-weight: 200;
  color: #5C75DA;
  letter-spacing: 1px;
}

.data-article {
  font-weight: 300;
  font-weight: .8em;
  margin: 40px 0px;
  text-align: center;
}

.data-text {
  margin: 15px;
}

.subtext {
  font-size: 10px;
  font-weight: 700;
  margin: 5px;
  color: #5C75DA;
}

.water-consumed {
  margin: 5px;
}

.number-of-steps-day {
  margin: 20px;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
  text-align: center;
}

.number-of-steps-goal {
  margin-top: 10px;
}

ul {
  list-style: none;
}

img {
  width: 10%;
}

.img-medium {
  opacity: 0.6;
  width: 80px;
}

.separator {
  display: flex;
}

.user {
  width: 50%;
}

.border {
  border-right: 2px solid #5C75DA;
  height: 100px;
  margin-top: 15px;
}

.average {
  width: 50%;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

p {
  font-weight: 200;
  font-size: 1em;
}

