.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
}

.title {
  grid-column-start: 2;
  justify-self: center;
}

.user-info-card {
  border: 1px solid black;
  grid-column-start: 3;
  text-align: center;
}

.compare-user-steps {
  border: 1px solid black;
}
.user-hydration-card{
  border: 1px solid blue;
}
.weekly-hydration-card{
  border: 1px solid Blue;
  grid-column-start: 2;
  align-content: center;
  position: relative;
  text-align: -webkit-center;
}
.day-sleep-card{
  border: 1px solid Brown;
}
.week-sleep-card{
  border: 1px solid Brown;
}
.all-time-sleep-card{
  border: 1px solid Brown;
}
.day-activity-card{
  border: 1px solid Green;
  grid-column-start: 1;
  grid-row-start: 2;
}
.weekly-activity-card{
  border: 1px solid Green;
}
.comparison-activity-card{
  border: 1px solid Green;
}

.user-profile-display{
  display: grid;
  justify-self: center;
}
.canvasjs-chart-canvas{
  position: inherit;
}














.carousel {
  background: #FAFAFA;
  margin: 0 60px; /* space for prev/next buttons */
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  border-radius: 2px;
}

/* cell number */



/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: #333;

}
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -50px;
  background-color: #4AACC5;
}
.flickity-prev-next-button.next {
  right: -80px;
  background-color: #4AACC5;
}
