/* MAIN GENERAL STYLING */
h4 {
  text-decoration: underline;
}

.hidden {
  display: none;
}


/* HEADER AREA */

.header-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;

}
.header-text {
  flex-direction: column;
}

.buttonimg {
  height: 25px;
  width: 25px;
}

/* DROPDOWN AREA */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #111;
  color: white;
  padding-top: 1em;
  padding-left: 3em;
  font-size: 1em;
  border: none;
  text-decoration: underline;
  font-family: "Rajdhani";
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  padding-left: 1em;
  min-width: 3em;
  color: #fff;
  align: center;
  font-family: "Rajdhani";
}

.dropdown-content p {
  font-size: .6em;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: transparent; */
}

/* LEADERBOARD SIDE BAR */
main {
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%
}

.all-user-stats {
  width: 80%
}

/* USER DAILY STATS */
.user-today-stats {
  border: 2px solid black;

}

.daily-data-title {
  text-align: center;
}

.data-widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.today {
  text-align: center;
  border: 2px solid black;
  border-radius: .5em;
}

.user-card {
  display: none;
}

/* WEEKLY STATS */

.weekly-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
}

.week {
  width: 25%;
  border: 2px solid green;
}

.activity-week, .sleep-week {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




























/* END OF CSS */
