* {
  margin: 0;
  border: 1px solid red;
}

body {
  font-family: 'Open Sans';
  margin: 0px 50px 0px 50px;
  background-color: #4d4e4f;
  height: auto;
}

h1 {
  text-align: center;
  color: #9A9DAB;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-sidebar-body {
  display: flex;
  flex-direction: row;
}

.body-sidebar-sidebarContainer {
  width: 100%;
  background-color: #9A9DAB;
  border: 1px solid black;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em .5em .5em .5em;
}

.sidebar-header-line {
  color: #ffffff;
  border: 1px solid black;
  margin: 1em 1em 0 1em;
  height: 0;
  width: 80%;
}

.sidebar-header-userImage {
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 23%;
  width: 80%;
  margin: 2px;
}

.sidebar-body-friendContainer {
  display: flex;
  flex-direction: column;
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  width: 100%;
  border: 1px solid black;
  height: 1000px;
  /* display: inline-block; */
  margin: 0 0 1em;
  /* flex-wrap: wrap; */
  /* column-count: 3;
  column-gap: 1em; */
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.main-column-hydration {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.main-column-activity {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.main-column-sleep {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.infoContainer-cardContainer-card-horizontal {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.infoContainer-cardContainer-card-vertical {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3%;
}

.card-today-hydration {
  text-align: center;
  background-color: #5BC8AC;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.card-today-sleep{
  text-align: center;
  background-color: #EC96A4;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.card-today-activity{
  text-align: center;
  background-color: #DFE166;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.card-history-hydration {
  text-align: center;
  background-color: #5BC8AC;
  /* height: auto; */
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.card-history-sleep {
  text-align: center;
  background-color: #EC96A4;
  /* height: inherit; */
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.card-history-activity {
  text-align: center;
  background-color: #DFE166;
  /* height: auto; */
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: #4d4e4f;
  font-kerning: normal;
}

.historicalWeek {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: black;

}

.thisWeek {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: black;

}

.card-vertical-list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: 1em;
}

.historical-list-listItem {
  padding: .2em;
}
