/********** Body **********/
*{
	font-family: 'Open Sans', serif;
	/*margin: 0px;*/
}

/********** Main **********/
.main_boi {
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: 25% auto;
	grid-template-areas:
			"header header"
			"user user"
			"sleep hydro"
			"activity activity";
	height: 100vh;
}

/********* Header *********/
.main_header {
	grid-area: header;
}

/******** User Info *******/
.main_user {
	grid-area: user;
}

/******** Sleep Section ***/
.main_sleep {
	grid-area: sleep;
}
/****** Hydro Section *****/
.main_hydro {
	grid-area: hydro;
}
/******* Activity Section */
.main_activity {
	grid-area: activity;
}
