html {
  display: flex;
  justify-content: center;
  background-color: #045668;
  height: 100%;
  width: 100%;
}

body {
  font-family: fantasy;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  height: 100%;
  width: 65%;
}

.data-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #E8DCAE;
  border: solid black;
  border-radius: 10px;
  height: 95%;
  width: 95%;
}

.friends {
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  margin: 0%;
  padding-top: .2em;
  height: 28%;
  width: 60%;
  font-size: 250%;
}

.day-week-view {
  display: flex;
  border: solid black;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 10%;
  width: 70%;
}

button {
  font-family: fantasy;
  height: 100%;
  width: 100%;
  font-size: 100%;
  color: #FADF95;
  background-color: #045668;
}

.user-data {
  background-color: #9F4051;
  color: #FCE671;
  margin-bottom: 2%;
  height: 20%;
  width: 70%;
  border: solid black;
  border-radius: 10px;

}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #9F4051;
  margin-bottom: 6%;
  border: solid black;
  border-radius: 10px;
  height: 80%;
  width: 70%;
}

p {
  margin: 1%;
  margin-left: 3%;
  color: #FCE671;
}

.hydration-data,
.sleep-data {
  display: flex;
  flex-direction: column;
  background-color: #9F4051;
  color: #FCE671;
  font-size: 130%;
  width: 70%;
  height: 55%;
  margin-top: 10%;
  border-radius: 10px;
  border: solid black;

}
