body {
    font-family: sans-serif;
    height: 90vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 90%;
    grid-row-gap: 20px;
    /* grid-column-gap: 20px; */
    grid-template-areas:
    "header header header header"
    "body body body body"

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }

header {
    grid-area: header;
    background-color: dodgerblue;
    grid-column-start: 1;
    grid-column-end: 6;
}

main {
    display: grid;
    grid-area: body;
    width: 100%;
    justify-self: center;
    justify-items: center;
    grid-template-columns: 15% 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
    "friends hydration hydration hydration"
    "friends sleep sleep sleep"
    ". activity activity activity"
    ". activity activity activity"
    
}

.main__section--friends {
    background: papayawhip;
    grid-area: friends;
    width: 100%;
}

.main__section--hydration {
    grid-area: hydration;
    width: 100%;
    background: palevioletred;
}

.main__section--sleep {
    grid-area: sleep;
    width: 100%;
    background: yellow;
}

.main__section--activity {
    grid-area: activity;
    width: 90%;
}

.main__section--activity--item {
}

.main__section--sleep--hours {
}

/* .main__section--activity article {
    height: 100px;
    width: 100px;
    background: gray;
    display: inline-block;
} */

.main__section--activity h2 {
    height: 30px;
}



.grid {
    background: #ffffff;
    max-width: 1200px;
  }

.grid-item {
    float: left;
    width: 180px;
    height: 180px;
    background-color: #272727;
    color: white;
    border-radius: 10px;
    /* border: 2px solid hsla(0, 0%, 0%, 0.5); */
  }

.grid-item--width2 { width: 380px; }
.grid-item--height2 { height: 380px; }

.grid-item:hover {
border-color: hsla(0, 0%, 100%, 0.5);
cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
background: rgb(157, 157, 157);
z-index: 2;
}

.packery-drop-placeholder {
outline: 3px dashed hsla(0, 0%, 0%, 0.5);
outline-offset: -6px;
-webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
}

.grid-item.is-pointer-down {
background: rgb(157, 157, 157);
z-index: 2; /* above other draggies */
}
.grid-item.is-dragging { opacity: 0.7; }

.icon {
    height: 30%;
    width: 30%;
    display: block;
    padding: 10px;
    margin: 10px auto 0px auto;
}


.main__section--activity--world img {
    width: 25%;
    height: 25%;
}

h4 {
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
}

article {
text-align: center;
padding: 5px;
box-shadow: 5px 5px 2.5px #a09fa1;
}

article span {
    margin: 10px 0 10px 0;
}

article p {
    margin: 5px 10px 5px 10px;
    display: block;
}

.main__section--activity--empire img {
    height: 95%;
    width: 95%;
    margin: -60px auto -60px auto;
}


table {
margin: 30px auto 10px auto;
/* font-size: .; */
}

th {
padding: 0.5em;
border-bottom: 2px solid #FFE400;
}

td {
padding: 0.5em;
}
