* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeSpeed;
  margin: 3%;
  margin-top: 0;
  background: #00515b url(sun.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-message {
  color: #fff;
  font-family: "Racing Sans One";
  font-size: 2.5em;
  margin-left: 15px;
}

.user-profile-text {
  color: aliceblue;
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 20px;
}

.main {
  display: grid;
  grid-template-areas:
    "head head"
    "nav main";
  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 85%;
  height: 85vh;
}

.top {
  align-items: center;
  display: flex;
  height: 8vh;
  justify-content: flex-end;
}

.h1 {
  color: aliceblue;
  font-family: "Racing Sans One";
  font-size: 2.8em;
}

.header {
  align-items: center;
  border-radius: 25px 25px 0 0;
  background-color: rgba(50, 50, 64, 0.6);
  display: flex;
  grid-area: head;
}

.nav {
  background-color: rgba(28, 28, 37, 0.5);
  border-radius: 0 0 0 25px;
  grid-area: nav;
}

.nav-list {
  font-family: "Open Sans";
  font-size: 1.1em;
  text-align: center;
  padding: 0;
}

.list-item {
  background-color: #404055;
  color: #fff;
  margin-top: 15px;
  padding: 8px 0;
  list-style-type: none;
  border-color: #404055;
  border-width: 2px;
  font-size: 1em;
  width: 100%;
  outline: 0;
}

.list-item--active {
  border-color: #fc7e40;
}

.list-item:hover {
  background-color: rgb(253, 125, 64, 0.3);
}

.list-item:disabled {
  background-color: #404055;
}

.section {
  background-color: #47484e99;
  border-radius: 0 0 25px 0;
  display: flex;
  grid-area: main;
}

.intro-message {
  background-color: rgba(28, 28, 37, 0.6);
  color: aliceblue;
  font-family: "Racing Sans One";
  font-size: 2.4em;
  line-height: 1.2;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  width: 90%;
}

.sleep-charts,
.num-of-steps-charts,
.num-mins-active-charts,
.flights-climbed-charts {
  display: flex;
}

.step-goal-chart,
.hydration-line-chart,
.sleep-charts,
.num-of-steps-charts,
.num-mins-active-charts,
.flights-climbed-charts {
  margin: auto;
}

.user-profile {
  margin: auto;
  position: relative;
  padding: 50px;
  background-color: rgba(28, 28, 37, 0.6);
}

img {
  width: 40px;
  vertical-align: middle;
  margin-left: 15px;
}

.sleepQuality-line-chart,
.num-of-steps-chart,
.num-mins-active-chart,
.flights-climbed-chart {
  padding-right: 20px;
}

.last-line {
  padding-bottom: 0;
}
