* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
}

/* ----------------Aside----------------- */

aside {
  background-color: #51768C;
  border: solid 1px black;
  color: white;
  display: flex;
  width: 320px; 
  flex-direction: column;
  align-items: center;
  padding: .5em 1em 0 1em;
}

.aside__logo {
  font-size: 30px;
  margin-top: 20px;
}

.aside__logo-fit {
  font-weight: 700;
}

h1 {
  margin-bottom: 1em;
}

.aside__date {
  font-size: 12px;
  margin-top: 10px;
}
.aside__h2 {

}

.aside__figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-top: 60px;

}

.user-label {
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
}

.user-info {
  font-size: 14px;
}

/* ----------------Main----------------- */

main {
  display: flex;
}

.main__column-one,
.main__column-two {
  width: 50%;
}

.main__section {
  height: 50%;
  padding: 1em;
  border: 1px solid black;
}

.activity__chart-day-allUsers {
  /* background-color: red; */
}

.activity__chart-weeklyView-oneUser {
  /* background-color: blue */
}